/* Main Elements */
html {-webkit-user-select: auto;}
body {min-height: 100%; margin:0px;}
#bgImageContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-transition:-webkit-filter 0.4s ease-in-out;   
    background-color: #704214;
    padding: 10px;
}

.lightbg {
    /* don't forget to use the prefixes you need */
    z-index: 0;
    filter: gray; /* IE6-9 */
    opacity:.3;
    -webkit-filter: grayscale(1) sepia(0.9);
    -moz-filter: grayscale(100%) sepia(90%);
    -ms-filter: grayscale(100%) sepia(90%);
    -o-filter: grayscale(100%)  sepia(90%);
    filter: grayscale(100%) sepia(90%);
}
.frontsalot {
    z-index: 100;
}

.bottomright {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 110;
}

#bgImageContainer .sp-image {
    width: 98%;
    /*height: 100%;*/
}

.section {position: relative;overflow: hidden;z-index:10; padding: 10px 10px 20px; }
.breadcrumb, .gist {margin: 0 0 20px;}
.right {float:right;}
/*h3 + div {margin: 0 0 35px;}*/


/* Headers */

.wrappy { display:inline-block; }
/*.block {display:inline;}*/

/* Text */
h1 {font-size:2em;}
.description {font-size:1.5em;font-style:italic;font-family:Georgia;}

div.killscroll h2, 
div.killscroll div {
    float: left;
}

/* Player */
#player {min-height:140px;}
#player .sp-player {float:left;margin-right:10px;}
#player .sp-list {width:inherit;max-height:inherit;}

.ar-album { float:left; position:relative; }
.ar-big-album { width: 256px; height: 256px; }
.ar-small-album { width: 64px; height: 64px; }

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 99%;
  height: 1em;

      position: absolute;
    bottom: 0;
    right: 0;

    opacity: 0.5;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#album_box {min-height:148px; }

.dashbox {
    border: 4px dashed #333;
    padding: 10px;
    overflow-y: auto;
    background-color: rgba(100, 59, 15, 0.16);
}
.killscroll { overflow: hidden }

/* Index */
#index h1, #index ul {margin:0 0 30px;}
#index a:hover {color:#83be20;}

/* hide/show stuff */
.hide {
    display:none;
}

/* Deleter Button */
.deleter {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px;
    background-color: rgba(189, 79, 79, 0.51);
    background-image: url('../img/remove.png');
    background-repeat: no-repeat;
    z-index: 9999;
    color: rgb(100, 0, 0);
    width: 20px;
    height: 20px;
    background-position: center;
    cursor: pointer;
}

.starplusr {
    position: absolute;
    top: 1px;
    left: 1px;
    padding: 4px;
    z-index: 9999;
    background-color: rgba(255, 165, 48, 0.51);
    background-image:url('../img/starplus.png');
    background-repeat: no-repeat;
    width:36px;
    height:36px;
    cursor: pointer;
}

/*tweak flipclock*/
.clock {
    position: relative !important;
    padding-top: 0px;
    height: 100px;
    /*zoom: .6;*/
    /* transform: scale(.54);*/
    -ms-transform: scale(.54); /* IE 9 */
    -webkit-transform: scale(.54); /* Safari and Chrome */
    -o-transform: scale(.54); /* Opera */
    -moz-transform: scale(.54); /* Firefox */
    margin-left: -50px;
    margin-top: -20px;
    width: 250px;
}

#blankarea {
    height: 100vh;
}

/*modified from rdio-utils albumWidget stuff*/
.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}
.album {
  display: inline-block;
  width: 202px;
  margin: 0 10px 20px 10px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
  position: relative;
  font-family: sans-serif;
}
.album a,
.album a:visited {
  text-decoration: none;
}
.album a:hover,
.album a:active {
  text-decoration: underline;
}
.album-icon {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: contain;
}
.album-hover-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/hover_overlay.png');
  background-repeat: repeat-x;
  background-position: center bottom;
}
.album-cover {
  position: relative;
  width: 100%;
  height: 100%;
}
.album-cover:hover .album-hover-overlay {
  display: block;
}
.album-play-btn {
  position: absolute;
  left: 50%;
  bottom: 32px;
  width: 42px;
  height: 42px;
  margin-left: -21px;
  margin-bottom: -21px;
  background-image: url('../img/medium.png');
  cursor: pointer;
}
.album-play-btn:hover {
  background-image: url('../img/medium-hover.png');
}
.album-action-btn {
  position: absolute;
  left: 50%;
  bottom: 32px;
  width: 33px;
  height: 33px;
  margin-left: 24px;
  margin-bottom: -17px;
  background-image: url('../img/plus.png');
  cursor: pointer;
}
.album-title {
  margin-top: 4px;
  color: #4B5C66;
}
.album-title a,
.album-title a:visited,
.album-title a:hover,
.album-title a:active {
  color: #4B5C66;
}
.album-author,
.album-size {
  color: #89949B;
}
.album-author a,
.album-size a,
.album-author a:visited,
.album-size a:visited,
.album-author a:hover,
.album-size a:hover,
.album-author a:active,
.album-size a:active {
  color: #89949B;
}
